*{
    margin: 0;
    padding: 0;
    box-sizing: border-box
    
}
html{
    scroll-behavior: smooth;
}
body{
    background-color: white;
    color: black;
    font-family: 'Piazzolla', serif;
    
}
     /* navbar start*/
.nav-container{
    position:fixed;
    top:0px;
    width: 100%;
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: pink;
    z-index:100;

}

.icon{
    width: 20px;
    height: 20px;
    cursor: pointer;
}
.icon-links{
    display: flex;
    align-items: center;
    gap: 10px;

}
        
 h2{
    margin-left: 10px;
}

       /* navbar end */

       /* landingpage start */

.landingpage-container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 2000px;
    margin: 0 auto;
}

.landingpage-img{
    width: 25%;
}

.landingpage-text-container{
    border: 1px solid black;
}

.landingpage-h1{
    font-size: 48px;
    line-height: 1;
}

button{
    border: 1px solid black;
    border-radius: 6px;
    width: 10%;
    background: pink;
    cursor: pointer;
}
    /* landingpage end */


     /* bottom-container start */

.bottom-container{
   /* font-size: 30px;
   line-height: 36px;
   margin-bottom: 6px; */
   scroll-margin-top: 100px;
}

.bottom-h2{
text-align: center;
font-size: 36px;
line-height: 40px;
margin-bottom: 12px;
}
.bottom-text{
color: #6b7280;
padding: 0px 20px 5px 20px;
max-width: 896px;
text-align: center;
margin:  0 auto;

}

.bottom-chip-container{
    display: flex;
    gap: 8px;
    justify-content: center;
    margin: 8px;
    padding: 0px 12px;
}

.chip{
    padding: 4px 12px;
    font-size: 14px;
    border: 1px solid black;
    border-radius: 9999px;
    background: pink;
    
}
       /* bottom-container end */
  
  
       /* Project start */

    .project-container{
    display: flex;
    flex-direction: column;
    align-items: center;
   } 
   .project{
    background-color: rgba(0, 0, 0, 0.567);
   }

   .img-container{
    width: 100%;
    height: 100%;
    position: relative;
    /* z-index: 100; */
    
   }
   .img-container img{
    max-width: 1024px;
    object-fit: cover;
    padding: 20px;
    position: relative;
    
   }

.img-overlay{
    position: absolute;
    inset: 0;
    background: #26262699;
    margin-bottom: 25px;

}
.project-text-container{
position: absolute;
inset: 0;
display: flex;
flex-direction: column;
justify-content: flex-end;
padding: 30px;
color: aliceblue;
}

.project-title{
   font-size: 36px;
   line-height: 40px;
   font-weight: 900;
}
.projcet-text{
font-size: 14px;
margin-bottom: 12px;
}


@media screen and (max-width:500px){
    .nav-container{
        flex-direction: column;
    }
    .landingpage-container{
        flex-direction: column;
        margin-left: 50px;
    }
}